<div class="app-container">

  <div class="card">

    <h2>🌤 Weather App</h2>

    <!-- SIGNUP -->
    <div *ngIf="!token && !showLogin" class="signup-section">
      <input type="text"
             [(ngModel)]="signupUsername"
             placeholder="New Username">

      <input type="password"
             [(ngModel)]="signupPassword"
             placeholder="New Password">

      <button (click)="signup()">Signup</button>
      <p *ngIf="signupMessage">{{signupMessage}}</p>
      <p>
        Already have an account? 
        <a href="#" (click)="showLogin = true; showSignup=false;">Login here</a>
      </p>
    </div>

    <!-- LOGIN -->
    <div *ngIf="!token && showLogin" class="login-section">

      <input type="text"
             [(ngModel)]="username"
             placeholder="Username">

      <input type="password"
             [(ngModel)]="password"
             placeholder="Password">

      <button (click)="login()">Login</button>
      <p *ngIf="loginMessage">{{loginMessage}}</p>

      <p>
        Don't have an account? 
        <a href="#" (click)="showLogin = false; showSignup=true;">Signup here</a>
      </p>
    </div>

    <!-- LOGOUT -->
    <div *ngIf="token">
      <button (click)="logout()">Logout</button>
      <hr>
    </div>

    <!-- WEATHER -->
    <div *ngIf="token">

      <input type="text"
             [(ngModel)]="city"
             placeholder="Enter city name">

      <button (click)="getWeather()">Check Weather</button>

      <div *ngIf="weather" class="result">
        <div class="temp-bubble"
             [ngClass]="getTemperatureClass()">
          {{weather.temperature}}°C
        </div>

        <p><strong>City:</strong> {{weather.city}}</p>
      </div>

    </div>

  </div>

</div>